.metadata/*
.recommenders/*
FirstHibernate/.settings/*
FirstHibernate/bin/*
FirstHibernate/target/*
FirstHibernate/.classpath
FirstHibernate/.project
/.metadata/
/.recommenders/
HibernateCollections/.settings/*
HibernateCollections/bin/*
HibernateCollections/target/*
HibernateCollections/.classpath
HibernateCollections/.project
OneToOneMapping/.settings/*
OneToOneMapping/bin/*
OneToOneMapping/target/*
OneToOneMapping/.classpath
OneToOneMapping/.project
OneToManyMapping/.settings/*
OneToManyMapping/bin/*
OneToManyMapping/target/*
OneToManyMapping/.classpath
OneToManyMapping/.project
ManyToManyMapping/.settings/*
ManyToManyMapping/bin/*
ManyToManyMapping/target/*
ManyToManyMapping/.classpath
ManyToManyMapping/.project
MappedByMapping/.settings/*
MappedByMapping/bin/*
MappedByMapping/target/*
MappedByMapping/.classpath
MappedByMapping/.project
Inheritance/.settings/*
Inheritance/bin/*
Inheritance/target/*
Inheritance/.classpath
Inheritance/.project
InheritanceTablePerClass/.settings/*
InheritanceTablePerClass/bin/*
InheritanceTablePerClass/target/*
InheritanceTablePerClass/.classpath
InheritanceTablePerClass/.project

