.metadata/*
.recommenders/*
FirstHibernate/.settings/*
FirstHibernate/bin/*
FirstHibernate/target/*
FirstHibernate/.classpath
FirstHibernate/.project
/.metadata/
/.recommenders/
HibernateCollections/.settings/*
HibernateCollections/bin/*
HibernateCollections/target/*
HibernateCollections/.classpath
HibernateCollections/.project
